extends layout

block content
  h1= title

  if game.image.data
    img(style='margin-bottom:1rem;' width='260' src="data:image/" + game.image.contentType + ';base64,' + (game.image.data.toString('base64'))) 
  h4 #[strong Description]
  p #{game.description}
  
  p #[strong Price:] $!{game.price}

  p #[strong Stock:] !{game.stock}

  p #[strong Serial-Number:] #{ game.sn }
  p #[strong Category:]
  each val, index in game.category
    a(href=val.url) #{val.name}
    if index < game.category.length - 1
      |, 


  hr
  p 
    a(href=game.url + '/delete') Delete Game
  p 
    a(href=game.url + '/update') Update Game
